[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "informativeSCI"]
	path = informativeSCI
	url = https://github.com/lianekluge/informativesci
